.message {
    color: green;
}

.recorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.TextMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



